// importing all needed files
@import "fonts.scss";
@import "varibles.scss";
@import "mixins.scss";
@import "functions.scss";
// common styles
html {
  font-size: 16px;
}
a {
  // remove undrlining all links
  text-decoration: none;
}
img {
  //set image sizes
  height: auto;
  max-width: 100%;
}
*,
::after,
::before {
  //change all ellements sizes
  box-sizing: border-box;
}
// coomon text
.main-wraper {
  max-width: calculate(1020);
  padding: 0 10px;
  margin: 0 auto;
}

.block-head {
  @include block-head;
}
.block-text {
  @include block-desc;
}
.block-btn {
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: $btn-bg;
  text-align: center;
  @include btn-text;
}
.footer-text {
  @include footer-text;
}
//

header {
  background-image: url(../img/first_background.jpg);
  background-size: 100% 100%;
  .main-wraper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 41px;
    padding-bottom: 240px;
    text-decoration: none;

    a {
      @include navigation;
      margin: 0 calculate(36);
    }
    img {
      height: calculate(53);
      width: calculate(53);
      margin: 0 calculate(64);
    }
  }

  .your_life {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 222px;

    h1 {
      padding-bottom: 22px;
      @include h1;
    }

    p {
      font-family: $GhotemRounded;
      font-size: calculate(16);
      color: $white;
      font-weight: 500;
      padding-bottom: 29px;
    }

    .block-btn {
      height: calculate(49);
      width: calculate(166);
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }
  }
  .icons {
    padding-bottom: 26px;
    .links {
      padding-right: calculate(18);
      height: calculate(21);
      width: calculate(41);
    }
  }
}

.get_startred {
  background-color: #f5f6f7;

  .align {
    display: flex;
    justify-content: space-between;
    padding-top: 113px;
  }

  .content {
    text-align: left;
    h2 {
      letter-spacing: calculate(2);
      padding-bottom: 50px;
    }
    p {
      @include block-desc;
      padding-bottom: 50px;
    }

    .block-btn {
      height: calculate(49);
      width: calculate(166);
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }
  }

  img {
    width: calculate(627);
    height: calculate(400);
  }
}

.design {
  background-color: #ffffff;

  .align {
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
    gap: 100px;
  }

  .content {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h2 {
      letter-spacing: calculate(2);
      padding-bottom: 50px;
    }
    p {
      @include block-desc;
      padding-bottom: 50px;
    }

    .block-btn {
      height: calculate(49);
      width: calculate(166);
      border: none;
      border-radius: 3px;
      cursor: pointer;
      text-align: center;
      margin-bottom: 50px;
    }

    .scroller {
      width: calculate(68);
      height: calculate(54);
    }
  }

  img {
    width: calculate(320);
  }
}

.comunity {
  background-color: $started-bg;
  padding: 115px calculate(5);
  .fx-container {
    display: flex;

    justify-content: space-between;
    align-items: center;
    .comunity-text {
      max-width: calculate(190);
      text-align: center;
      margin-right: calculate(50);
      img {
        margin-bottom: 30px;
      }
      .block-head {
        font-size: calculate(16);
        margin-bottom: 30px;
        color: $text-color;
      }
      .block-text {
        text-align: center;
      }

      max-width: 500px;
    }
    .slider-wraper {
      overflow: hidden;
      width: calculate(768);
      .slider-controls {
        display: flex;
        justify-content: flex-end;
        padding: 10px calculate(10);
        width: 100%;
        .btn {
          border: none;

          background-color: transparent;
          cursor: pointer;
        }
      }
      .slider-window {
        display: flex;
        img {
          width: 48%;
          margin: 0 1%;

          &:after {
            position: absolute;
            content: "";
            height: 10px;
            width: 3px;
            background-color: $black;
          }
          &:before {
            position: absolute;
            content: "";
            height: 10px;
            width: 4px;
            background-color: $black;
          }
        }
      }
    }
  }
}
.subscribe {
  padding: calculate(345) 0 calculate(327);
  background-image: url(../img/subscrib-img.jpg);
  background-size: cover;
  background-position: center center;
  .main-wraper {
    display: flex;
    flex-direction: column;
    align-items: center;
    .block-head {
      color: $white;
      font-size: calculate(24);
      margin-bottom: 35px;
    }
    .subscribe-form {
      position: relative;
      height: calculate(65);
      width: calculate(345);
    }
    .subscribe-input {
      position: absolute;
      left: 0px;
      width: 90%;
      height: 100%;
      border: none;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      background-color: $white;
      padding: 2px calculate(20);
      outline: none;
      @include placeholder-text;
      &::placeholder {
        @include placeholder-text;
      }
    }
    .subscribe-btn {
      position: absolute;
      right: 0px;
      width: 10%;
      height: 100%;
      padding: calculate(24) calculate(30);
      border: none;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      background-color: $btn-hover;
      background-image: url(../img/fa-check.png);
      background-position: center center;
      background-repeat: no-repeat;
      cursor: pointer;
      transition: 0.4s;
      &:hover {
        background-color: $btn-bg;
      }
    }
  }
}
.download {
  padding: 95px 0 115px;
  background-color: $started-bg;
  .main-wraper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .block-head {
    font-size: calculate(20);
    text-align: center;
    margin-bottom: 17px;
  }
  .block-text {
    text-align: center;
    max-width: calculate(840);
    margin-bottom: 45px;
  }
  .btn-wraper {
    display: flex;
    justify-content: space-between;
    max-width: calculate(620);
    .block-btn {
      position: relative;
      text-align: center;
      border-radius: 3px;
      margin: 0 calculate(15);
      width: calculate(298);
      transition: 0.4s;
      span {
        font-size: calculate(16);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-75%, -50%);
      }
      .btn-icon {
        float: right;
        padding: calculate(20) calculate(5);
        margin-left: calculate(80);
        width: 50px;
        height: 100%;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        background-color: $btn-hover;
        transition: 0.4s;
      }
      &:hover {
        background-color: $btn-hover;
        .btn-icon {
          background-color: $btn-bg;
        }
      }
    }
  }
}
footer {
  padding: 45px 40px;
  background-color: $white;
  .main-wraper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer-list {
    margin-bottom: 27px;
    li {
      display: inline-block;
      &:first-child {
        padding-left: 0;
      }
      padding: 0 calculate(10);
      &:nth-child(2) {
        border-left: 2px solid $btn-bg;
        border-right: 2px solid $btn-bg;
      }
      a {
        @include footer-text;
        text-transform: uppercase;
      }
    }
  }
}
@media screen and (max-width: 775px) {
  .comunity {
    .fx-container {
      flex-direction: column;
      align-items: center;
      .slider-wraper {
        max-width: 90%;
      }
    }
  }

  .subscribe .main-wraper .subscribe-form {
    width: 90%;
    .subscribe-input {
      width: 90%;
    }
  }
}
@media screen and (max-width: 768px) {
  header {
    background-image: url(../img/first_background.jpg);
    background-size: 100% 100%;
    .main-wraper {
      nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 80px;
        padding-bottom: 40px;
        text-decoration: none;
        gap: 20px;

        a {
          font-size: 50px;
        }

        img {
          display: none;
        }
      }
      .your_life {
        padding-bottom: 50px;
        h1 {
          display: none;
        }
        p {
          display: none;
        }

        .block-btn {
          height: 60px;
          width: 320px;
          border-radius: 20px;
          font-size: 1.5rem;
        }
      }

      .icons {
        padding-bottom: 26px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .links {
          height: 16px;
          width: 30px;
        }
      }
    }
  }

  .get_startred {
    .align {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 30px;
      max-width: 90%;

      img {
        width: 400px;
        height: 350px;
        order: -1;
        padding-bottom: 50px;
      }

      .content {
        text-align: center;

        .block-head {
          font-size: 20px;
          padding-bottom: 20px;
          br {
            display: none;
          }
        }

        p {
          font-size: 14px;
          line-height: 20px;
          padding-bottom: 20px;
          text-align: center; //remove justify
          letter-spacing: normal;
          br {
            display: none;
          }
        }
        .block-btn {
          height: 40px;
          width: 320px;
          border-radius: 20px;
          font-size: 1.5rem;
          margin-bottom: 50px;
        }
      }
    }
  }

  .design {
    .align {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 30px;
      max-width: 90%;

      img {
        width: 300px;
        height: 350px;
        order: -1;
        margin-bottom: -70px;
      }

      .content {
        text-align: center;

        img {
          display: none;
        }

        .block-head {
          align-self: center;
          font-size: 20px;
          text-align: center;
          padding-bottom: 20px;
          br {
            display: none;
          }
        }

        p {
          font-size: 14px;
          line-height: 20px;
          padding-bottom: 20px;
          text-align: center; //remove center
          letter-spacing: normal;
          br {
            display: none;
          }
        }
        .block-btn {
          height: 40px;
          width: 320px;
          border-radius: 20px;
          font-size: 1.5rem;
          margin-bottom: 50px;
          align-self: center;
        }
      }
    }
  }
  //andrey
  .comunity {
    .fx-container {
      .comunity-text {
        .block-head {
          font-size: 20px;
        }
      }
    }
    .block-head {
      font-size: 20px;
    }
    .block-text {
      font-size: 14px;
      line-height: 20px;
    }
  }
  .subscribe {
    background-image: url(../img/subscrib-im-md.jpg);
    .main-wraper .block-head {
      font-size: 20px;
      text-align: center;
    }
  }
  .download {
    .block-head {
      font-size: 20px;
    }
    .block-text {
      font-size: 14px;
      line-height: 20px;
    }
  }
}
@media screen and (max-width: 655px) {
  html {
    font-size: 13px;
  }
}
@media screen and (max-width: 490px) {
  html {
    font-size: 8px;
  }
  footer {
    padding: 45px 10px;
  }
}

footer {
  .footer-list {
    li {
      a {
        font-size: 12px;
        line-height: 20px;
      }
    }
  }
}

@media screen and (max-width: 390px) {
  header {
    background-image: url(../img/first_background.jpg);
    background-size: 100% 100%;
    .main-wraper {
      nav {
        a {
          font-size: 14px;
        }
      }
      .your_life {
        .block-btn {
          width: 260px;
          font-size: 1.5rem;
        }
      }
    }
  }

  .get_startred {
    .align {
      img {
        width: 300px;
      }

      .content {
        .block-head {
          font-size: 20px;
          line-height: 25px;
        }

        p {
          font-size: 14px;
          line-height: 30px;
        }
        .block-btn {
          width: 300px;
        }
      }
    }
  }

  .design {
    .align {
      img {
        width: 300px;
      }

      .content {
        .block-head {
          font-size: 20px;
          line-height: 25px;
        }

        p {
          font-size: 14px;
          line-height: 30px;
        }
        .block-btn {
          width: 300px;
        }
      }
    }
  }
  .subscribe {
    background-image: url(../img/subscrib-img-sm.jpg);
  }
}
