// importing all needed files
@import "fonts.scss";
@import "varibles.scss";
@import "mixins.scss";
@import "functions.scss";
// common styles
a {
  // remove undrlining all links
  text-decoration: none;
}
img {
  //set image sizes
  height: auto;
  max-width: 100%;
}
*,
::after,
::before {
  //change all ellements sizes
  box-sizing: border-box;
}
// coomon text
.main-wraper {
  max-width: 1088px;
  margin: 100px auto;
}
.block-head {
  @include block-head;
}
.block-text {
  @include block-desc;
}
.block-btn {
  background-color: $btn-bg;
  @include btn-text;
}
.footer-text {
  @include footer-text;
}
//

header {
  background-image: url(../img/first_background.jpg);
  background-size: 100% 100%;

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: calculate(40);
    padding-bottom: calculate(240);
    text-decoration: none;

    a {
      @include navigation;
      margin: 0 calculate(36);
    }
    img {
      height: auto;
      max-width: 100%;
      margin: 0 calculate(64);
    }
  }

  .your_life {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: calculate(222);
  }
}

.comunity {
  background-color: $started-bg;
  .fx-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .comunity-text {
      max-width: 500px;
    }
    .slider-wraper {
      overflow: hidden;
      .slider-controls {
        .btn {
          position: relative;
          background: none;
          border: none;
          &:after {
            position: absolute;
            content: "";
            height: 10px;
            width: 3px;
            background-color: $black;
          }
          &:before {
            position: absolute;
            content: "";
            height: 10px;
            width: 4px;
            background-color: $black;
          }
        }
      }
    }
  }
}
.subscribe {
  background-image: url(../img/subscrib-img.jpg);
  background-size: cover;
  background-position: center center;
}
.download {
  background-color: $started-bg;
}
footer {
  background-color: $white;
  .footer-list {
    li {
      display: inline-block;
      &:nth-child(2) {
        border-left: 2px solid $btn-bg;
        border-right: 2px solid $btn-bg;
      }
      a {
        @include footer-text;
        text-transform: uppercase;
      }
    }
  }
}
